@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1622px) {

    #gif {
        margin: 0px auto;
        width: 100%;
        margin-top: 30px;
        object-fit: contain;
    }
    
    #profile {
        margin: 0px auto;
        width: 100%;
        object-fit: contain;
    }
    
    .background {
        text-align: justify;
        margin-left: 0px;
        padding-left: 0px;
        display: block;
        width: 100%;
        height: 600px;
    
    }  
      
/* Work */
.work1 {
    background: url(work-image/robert-zunikoff-53898-unsplash.jpg);
    height: 500px;
    background-size: 100%;
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
}


.work2 {
    background: url(work-image/brendan-miranda-652484-unsplash.jpg);
    height: 500px;
    background-size: 100%;
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
}

.work3 {
    background: url(work-image/zach-lucero-802489-unsplash.jpg);
    height: 500px;
    background-size: 100%;
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
}

.work4 {
    background: url(work-image/aleks-dorohovich-1089460-unsplash.jpg);
    height: 500px;
    background-size: 100%;
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
}

.work5 {
    background: url(work-image/marcus-wallis-607534-unsplash.jpg);
    height: 500px;
    background-size: 100%;
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
}


}